In [62]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import time
import random

# Set headers
headers = requests.utils.default_headers()
headers.update({ 'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0'})

In [65]:
def hot100(year):
    url = "https://www.billboard.com/charts/year-end/" + str(year) + "/hot-100-songs"
    req = requests.get(url, headers)
    soup = BeautifulSoup(req.content, 'html.parser')

# The 100 items of the list, called ""ye-chart-item", are in the container "chart-details__item-list"
    list = soup.find("div", class_="chart-details")

    artist_tags = list.select(".chart-details .ye-chart-item__artist")
    artists = [at.get_text() for at in artist_tags]
    
    title_tags = list.select(".chart-details .ye-chart-item__title")
    titles = [tt.get_text() for tt in title_tags]

# Removing the "\n" characters
    artists_clean = [x.replace('\n', '') for x in artists]
    titles_clean = [x.replace('\n', '') for x in titles]

# Creating list of lists
    hot100_list = [artists_clean, titles_clean]

#Converting list of lists to pandas DataFrame

    hot100_df = pd.DataFrame(hot100_list).transpose()
    hot100_df.columns = ['artist', 'title']
    return(hot100_df)

In [66]:
hot100(2019)

,artist,title
0,Lil Nas X Featuring Billy Ray Cyrus,Old Town Road
1,Post Malone & Swae Lee,Sunflower (Spider-Man: Into The Spider-Verse)
2,Halsey,Without Me
3,Billie Eilish,Bad Guy
4,Post Malone,Wow.
...,...,...
95,Chase Rice,Eyes On You
96,Dan + Shay,All To Myself
97,Ariana Grande & Social House,Boyfriend
98,P!nk,Walk Me Home
99,Juice WRLD,Robbery

In [68]:
hot100(1972)

                artist                              title
0   Gilbert O'Sullivan            Alone Again (Naturally)
1           Don McLean                       American Pie
2              Nilsson                        Without You
3              Joe Tex                           I Gotcha
4         Bill Withers                         Lean On Me
..                 ...                                ...
69            Godspell                        Day By Day
70                 Yes                         Roundabout
71      Jackson Browne                     Doctor My Eyes
72    Detroit Emeralds  Baby Let Me Take You (In My Arms)
73    Rick Springfield                   Speak To The Sky

[74 rows x 2 columns]

In [69]:
df = pd.DataFrame()

for i in range(1970,2020):
    df_year = hot100(i)
    df = pd.concat([df, df_year], ignore_index=True)
    # Adding random delay to avoid getting banned
    time.sleep(random.randint(1, 5))

In [70]:
df

                            artist                              title
0                Simon & Garfunkel         Bridge Over Troubled Water
1                       Carpenters     (They Long To Be) Close To You
2                    The Guess Who    American Woman/No Sugar Tonight
3                      B.J. Thomas  Raindrops Keep Fallin' On My Head
4                      Edwin Starr                                War
...                            ...                                ...
4649                    Chase Rice                        Eyes On You
4650                    Dan + Shay                      All To Myself
4651  Ariana Grande & Social House                          Boyfriend
4652                          P!nk                       Walk Me Home
4653                    Juice WRLD                            Robbery

[4654 rows x 2 columns]

In [71]:
df.to_csv('hot100_1970_2019_from_billboard.csv', encoding='utf-8', index=False)